.footer{
        font-size: 15px;
        float: right;
        text-decoration: none;
        color: black;
        background-color: #bdbbbb;
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center; 
}